body{
    margin: 0;
    padding: 0;
    background: url(bg-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    font-family: sans-serif;
}
.container{
    border: solid black 1px;
    width: 40%;
    height: 530px;
    text-align: center;
    margin-top: 45px;
    margin-left: 400px;
    border-radius: 10%;
    background-color: black;
    opacity: 0.8;
}
img{
    width: 20%;
    height: 110px;
    top: -40px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 20px;
}
input{
    width: 70%;
    padding: 15px 20px;
    margin-left: 30px;
    outline: 0;
    border: none;
    background-color: black;
    border-bottom: solid 1px white;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 15px ;
    font-size: 15px;
}
label{
    padding: 2px;
    color: white;
    margin-right: 390px;
    font-size: 18px;
}
button{
    border: none;
    border-radius: 50px;
    width: 77%;
    padding: 15px 20px;
    margin-left: 30px;
    margin-top: 15px;
    cursor: pointer;
    background-color: rgb(161, 108, 108);
    color: white;
    font-size: 20px;
}
button:hover{
    background-color: rgb(11, 250, 130) ;
    transition: .5s ease-out;
}
@media screen and(max-width :1160px) {
    body{
        height: 60vh;
    }
    label{
        font-size: 22px;
    }
    #container{
        height: 535px;
    }  
}
@media screen and(max-width : 753px) {
    #container{
        margin-left: 490px;
        margin-top: 53px;
    } 
}
